@use "styles/base";

.main {
  position: relative;
}

@media (min-width: base.$break-point) {
  .main {
    margin-bottom: 90px;
    padding: 0 35px 35px 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3vw;
    justify-content: space-between;
    overflow-y: scroll;
  }
}
