.teamInfoBottom {
  margin-top: 36px;
  padding: 30px 55px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.matches {
  margin-top: 50px;
}

.seasonSelect {
  padding: 0.5rem;
  margin-top: 20px;
  max-width: 80px;
  border-radius: 5px;
  border: 1px solid #a7aaaf;
  &:hover,
  &:focus {
    border-color: #4a4a4a;
    cursor: pointer;
  }
}
