@use "styles/base";

.teamInfoBottom {
  padding: 30px 55px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.noShow {
  display: none;
}

.title {
  font-size: 18px;
  color: #999999;
  font-weight: 700;
}

.matches {
  margin-top: 50px;
}

.seasonSelect {
  padding: 0.5rem;
  margin-top: 20px;
  max-width: 80px;
  border-radius: 5px;
  border: 1px solid #a7aaaf;
  &:hover,
  &:focus {
    border-color: #4a4a4a;
    cursor: pointer;
  }
}

@media (min-width: base.$break-point) {
  .teamInfoBottom {
    display: flex;
    margin-top: 36px;
    border-radius: 30px;
  }

  .title {
    font-size: 24px;
    color: black;
  }
}
