@use "styles/base";

.matchesRight {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: base.$secondary-grey-background;
}

.matchTeams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .awayTeam,
  .homeTeam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    .teamWrapper {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .teamName {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.matchCountDown {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.matchTime {
  font-size: 15px;
  font-weight: 500;
  color: base.$secondary-grey-background;
}

.teamLogo {
  width: 63px;
  height: 63px;
}

.subscriptionStatus {
  width: 20px;
  height: 30px;
}
