.leagueTitle {
  padding: 21px 20px 21px 91px;
  height: 196px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  background-color: #fff;
  border-radius: 30px;
}

.leagueLogo {
  min-height: 120px;
  min-width: 78px;
}

.titleRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  gap: 13px;
  .titleName {
    font-size: 30px;
    font-weight: 700;
  }
  .location {
    display: flex;
    align-items: center;
    gap: 18px;
    .locationLogo {
      width: 67px;
      height: 67px;
    }
    .locationName {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
