.dates {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(7, minmax(15px, 0.14fr));
  justify-content: flex-end;
  align-items: center;
  column-gap: 12px;
  font-size: 10px;
  font-weight: 500;
}

.currDate {
  margin: 0 auto;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 77, 245, 0.6);
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: rgba(55, 77, 245, 0.65);
  }
}

.date {
  @extend .currDate;
  background-color: #fff;
  &:hover {
    background-color: rgba(55, 77, 245, 0.09);
  }
}

.activeDate {
  background-color: rgba(55, 77, 245, 0.2);
}
