@use "styles/base";

.days {
  height: 25px;
  display: grid;
  grid-template-columns: repeat(7, minmax(15px, 0.14fr));
  align-items: center;
  gap: 12px;
  background-color: rgba(229, 233, 239, 0.4);
  font-size: 10px;
  font-weight: 100;
  color: #b1b5bb;
  margin-bottom: 7px;
}
