@use "styles/base";

.leaguesAll {
  padding-top: 21px;
  background-color: white;
}

.leagueTitle {
  color: base.$secondary-grey-background;
  margin-bottom: 20px;
}

.noShow {
  display: none;
}

@media (min-width: base.$break-point) {
  .leaguesAll {
    margin-top: 35px;
    display: block;
    border-radius: 30px;
  }
}
