@use "styles/base";

.leaguePlayedTop {
  padding: 0 42px 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.boxScore {
  height: 30px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  color: #0bb32a;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid base.$secondary-grey-background;
}

.leagueInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.leagueTitle {
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  .leagueName {
    color: #000;
  }
}
