@use "styles/base";

header {
  position: sticky;
}

.navbarTop {
  height: 90px;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: base.$brand;
}

.navbarBrand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  .brandTitle {
    color: #fff;
  }
}

.navbarSearchBox {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 9px;
  background-color: #fff;
  height: 52px;
  .searchIcon {
    display: flex;
    align-items: center;
    width: 38px;
    height: 38px;
  }
  .searchInput {
    width: 100%;
    flex: 1;
    border: none;
    font-size: 23px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: base.$secondary-grey-background;
    }
  }
}

.navbarFavorites {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  cursor: pointer;
}

.favorites {
  color: #fff;
  font-size: 24px;
}

.highlightFav {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 3px;
    background-color: #fff;
  }
}

.navbarBottom {
  position: relative;
  height: 90px;
  padding: 0 60px;
  background-color: base.$secondary-brand;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbarIconList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
  grid-template-rows: auto;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #fff;
    opacity: 0.4;
    .sportsIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  .markBasketball,
  .markBaseball {
    opacity: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 3px;
      background-color: #fff;
    }
  }
}
