@use "styles/base";

.headerWrapper {
  position: relative;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarTop {
  position: relative;
  padding: 0 18px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: base.$brand;
}

.navbarBrand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  .brandTitle {
    color: #fff;
    font-size: 20px;
  }
  .brandIcon {
    width: 25px;
    height: 25px;
  }
}

.navbarSearchBox {
  display: none;
}

.navbarFavorites {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  cursor: pointer;
}

.favorites {
  display: none;
}

.favoriteBell {
  display: none;
}

// mobile elemnt section
.mobileIconWrapper {
  display: flex;
  gap: 11px;

  .noShow {
    display: none;
  }
  .calendarIconWrapper {
    position: relative;
    .calendarIcon {
      width: 26.5px;
      height: 26px;
      cursor: pointer;
    }
    .calendarIconText {
      color: #fff;
      position: absolute;
      left: 50%;
      bottom: 20%;
      transform: translateX(-50%);
      font-size: 8px;
      cursor: pointer;
    }
  }

  .searchToggleCheckbox {
    display: none;

    &:checked ~ .dropdownSearch {
      z-index: 999;
      transform: scale(1, 1);
      transition: transform 0.3s ease-in-out 0.2s;
      transform-origin: right;
    }
  }
  .searchIconWhite {
    width: 25px;
    height: 24px;
    cursor: pointer;
  }
}

.dropdownSearch {
  transform: scale(0, 1);
  position: absolute;
  left: 0;
  top: 48px;
  height: 48px;
  width: 100%;
  background-color: base.$brand;
  .dropdownSearchBox {
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;

    .dropdownSearchIcon {
      width: 25px;
      height: 24px;
    }

    .dropdownSearchInput {
      z-index: 999;
      width: 78vw;
      height: 100%;
      flex: 1;
      font-size: 16px;
      border: none;
      overflow: hidden;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 16px;
        color: base.$secondary-grey-background;
      }
    }
  }
}

// navbarBottom starts

.navbarBottom {
  position: relative;
  height: 48px;
  padding: 0 20px;
  background-color: base.$secondary-brand;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbarIconList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 75px));
  grid-template-rows: auto;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 8px;
    color: #fff;
    opacity: 0.4;
    .sportsIcon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .markBasketball,
  .markBaseball {
    opacity: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 90px;
      height: 3px;
      background-color: #fff;
    }
  }
}

// dropdown search result start
.searchResultWrapper {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  .filteredTeams {
    padding: 8px 16px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transform: scale(1, 0);
    border-bottom: solid rgba(230, 230, 230, 0.5) 1px;
    cursor: pointer;
    &:hover {
      background-color: rgb(230, 230, 230);
    }
    .logo {
      width: 40px;
      height: 40px;
    }
    .filteredName {
      min-width: 260px;
      font-size: 16px;
    }
  }

  .show {
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 0.2s ease-in-out 0.4s;
  }
}

@media (min-width: base.$break-point) {
  .searchResultWrapper {
    .filteredTeams {
      .filteredName {
        min-width: 200px;
        font-size: 16px;
      }
    }
  }

  .navbarTop {
    padding: 0;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .navbarBrand {
    gap: 18px;
    cursor: pointer;
    .brandTitle {
      font-size: 32px;
    }
    .brandIcon {
      width: 40px;
      height: 40px;
    }
  }

  .navbarSearchBox {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 9px;
    background-color: #fff;
    height: 52px;
    border-radius: 4px;
    overflow: hidden;
    .searchIcon {
      display: flex;
      align-items: center;
      width: 38px;
      height: 38px;
    }
    .searchInput {
      width: 100%;
      flex: 1;
      border: none;
      font-size: 23px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: base.$secondary-grey-background;
      }
    }
  }

  .favorites {
    display: block;
    color: #fff;
    font-size: 24px;
  }

  .favoriteBell {
    display: block;
  }

  .highlightFav {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 140px;
      height: 3px;
      background-color: #fff;
    }
  }

  .mobileIconWrapper {
    display: none;
  }

  .navbarBottom {
    height: 90px;
    padding: 0 60px;
  }

  .navbarIconList {
    grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
    li {
      gap: 5px;
      font-size: 16px;
      .sportsIcon {
        width: 30px;
        height: 30px;
      }
    }
    .markBasketball,
    .markBaseball {
      &::after {
        width: 120px;
        height: 3px;
      }
    }
  }
}
