@use "styles/base";

.matchInfo {
  padding: 38px 60px;
  min-height: 517px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  background-color: #fff;
}

.noShow {
  display: none;
}

.title {
  display: none;
}

.tableWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(229, 233, 339, 0.4);
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: rgba(34, 34, 38, 0.2);
  }

  table {
    width: 100%;
  }

  thead {
    vertical-align: center;
    color: rgba(34, 34, 38, 0.46);
  }

  th {
    height: 40px;
  }

  td {
    height: 30px;
    min-width: 36px;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
}

.rectangle {
  position: relative;
  margin: 0 auto;
  height: 104px;
  background: linear-gradient(
    rgba(11, 179, 42, 0.2) 0 26px,
    rgba(11, 179, 42, 0.4) 26px 52px,
    rgba(55, 77, 245, 0.4) 52px 78px,
    rgba(55, 77, 245, 0.2) 78px 104px
  );
  .halftime {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: #fff;
  }
  .timelineBar {
    height: 100%;
    width: 3px;
    background-color: #e89faa;
    &::after {
      position: absolute;
      bottom: 0;
      transform: translate(-50%, 120%);
      color: #e89faa;
    }
  }
  .timeLayer {
    background-color: grey;
    opacity: 0.3;
  }
}

.timecodeWrapper {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(34, 34, 38, 0.2);
  .startTime,
  .halftime {
    transform: translateX(-50%);
  }
  .fulltime {
    transform: translateX(50%);
  }
}

.arena,
.officials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.arenaTitle,
.officialsTitle {
  color: base.$secondary-grey-background;
}

.areanaName,
.areanaCity,
.areanaState {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.officialsName {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

@media (min-width: base.$break-point) {
  .matchInfo {
    margin-top: 36px;
    display: flex;
    border-radius: 30px;
  }

  .title {
    display: block;
    font-size: 30px;
    font-weight: 700;
  }
}
