@use "styles/base";

.matchTeams {
  position: relative;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.leagueAndDate {
  position: absolute;
  top: 8px;
  left: 19px;
  display: flex;
  align-items: flex-start;
  color: #999999;
  font-weight: 700;
  font-size: 10px;
  .triangleRight {
    margin: 0 10px;
    height: 10px;
  }
  .sportCategory,
  .leagueCategory {
    align-self: center;
    text-decoration: none;
    color: #999999;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #374df5;
    }
  }
}

.subscriptionStatus {
  width: 28px;
  height: 32px;
}

.away,
.home {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.scores {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (min-width: base.$break-point) {
  .matchTeams {
    margin-top: 36px;
    border-radius: 30px;
  }

  .leagueAndDate {
    display: none;
  }

  .subscriptionStatus {
    width: 29px;
    height: 37px;
  }

  .away,
  .home {
    height: 100px;
    font-size: 20px;
  }

  .scores {
    font-size: 24px;
  }

  .logo {
    width: 63px;
    height: 63px;
  }
}
