@use "styles/base";

.matchStats {
  margin-top: 36px;
  min-height: 517px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  border-radius: 30px;
  background-color: #fff;
}

.title {
  margin: 38px 40px 20px 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: start;
}

.allStatsWrapper {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  .statsRow {
    height: 40px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(34, 34, 38, 0.2);
    font-weight: 500;
    &:nth-last-child(1) {
      border: none;
    }
    .homeStats {
      border: 1px solid rgba(55, 77, 245, 0.3);
      padding: 5px 15px;
      background-color: rgba(55, 77, 245, 0.3);
      border-radius: 15px;
    }
  }
}
