.matchTeams {
  margin-top: 36px;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
}

.subscriptionStatus {
  width: 29px;
  height: 37px;
}

.away,
.home {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scores {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  width: 63px;
  height: 63px;
  cursor: pointer;
}
