@use "styles/base";

.matchStats {
  padding-top: 30px;
  min-height: 517px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  background-color: #fff;
}

.noShow {
  display: none;
}

.title {
  display: none;
}

.allStatsWrapper {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  .statsRow {
    position: relative;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(34, 34, 38, 0.2);
    font-weight: 500;
    .statsTitle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &:nth-last-child(1) {
      border: none;
    }
    .awayStat,
    .homeStat {
      min-width: 50px;
      text-align: center;
    }
    .highlightStats {
      border: 1px solid rgba(55, 77, 245, 0.3);
      padding: 5px 15px;
      background-color: rgba(55, 77, 245, 0.3);
      border-radius: 15px;
    }
  }
}

@media (min-width: base.$break-point) {
  .matchStats {
    padding: 0;
    margin-top: 36px;
    display: flex;
    border-radius: 30px;
  }

  .title {
    display: block;
    margin: 38px 40px 20px 40px;
    font-size: 30px;
    font-weight: 700;
    text-align: start;
  }
}
