@use "styles/base";

.playerStats {
  margin-top: 36px;
  padding: 38px 60px;
  min-height: 517px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  border-radius: 30px;
  background-color: #fff;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.tableWrapper {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

  table {
    width: 100%;
  }

  thead {
    vertical-align: center;
  }

  th {
    height: 40px;
    background-color: base.$brand;
    color: #fff;
  }

  td {
    height: 30px;
  }

  tr:nth-of-type(even) td {
    background-color: rgba(229, 233, 239, 0.4);
  }
}
