.matchInfoTop {
  margin-top: 53px;
  height: 196px;
  padding: 15px 0 0 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  background-color: #fff;
  border-radius: 30px;
}

.leagueAndDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #999999;
  font-weight: 700;
  font-size: 14px;
  .triangleRight {
    margin: 0 10px;
    height: 10px;
  }
  .sportCategory,
  .leagueCategory {
    text-decoration: none;
    color: #999999;
    &:hover {
      text-decoration: underline;
      color: #374df5;
    }
  }
}

.matchTitle {
  display: flex;
  gap: 15px;
  font-size: 40px;
  font-weight: 700;
}
